name: Workflow Demo

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Create a text file
      run: echo "Hello, world!" > hello.txt

    - name: Archive text file
      uses: actions/upload-artifact@v4
      with:
        name: hello-artifact
        path: hello.txt
        
  download:
    needs: build
    runs-on: ubuntu-latest
    steps:
    -  name: Download artifact
       uses: actions/download-artifact@v5
       with:
         name: hello-artifact

    -  name: store artifact
       run: |
         mkdir -p artifact
         mv hello.txt artifact/hello.txt

    -  name: Display file content
       run: cat ./artifacts/hello.txt



